	html, body {
		font-family: 'Lato', sans-serif;
	}
	
	
    body {
		font-size: 100%;
		position: relative;
		font-weight: 400;
		color: #353030;
	}

	.workshop-title {
		font-size: 300%;       /* display-5 */
		font-weight: bold;       /* font-weight-bold */
		margin-bottom: 1rem;     /* mb-3 */
		color: #353030;            /* text-white */
	}

	.subtitle{
		color: #990000;
		text-align:left;
		font-weight: 400;
		margin-bottom: 1%;
		margin-top: 1%;
		font-size:180%;
		font-weight: bold;
		line-height: 1.25;
	}

	strong {
		font-weight: bold;
	}

	
	.content-block{		    
		margin-bottom: 5%;		
	
	}
	.Logo{
		height:40px;
		float:right;
		margin:0;
	
	}
	#Main-Part{
		margin:0;
	}
	#title{
		margin:0;
		background-color:#ffffff43;
	}
	.extra-roles{
		font-size:100%
	
	}
	.sub-skills{
		margin: 0;
	
	}

	.container.custom-container-width {
		max-width: 950px; 
	}

	.time-place{
		text-align: right;
	}


	.circular--img {
		width: auto;  /* Maintain original width */
		height: auto; /* Maintain original height */
		max-width: 100%; /* Prevent overflow */
		display: block; /* Removes extra spacing */
	}

	.progress{
		width: 30%;
		float:right;
	}
	.skills{margin:10%;}
	.copyright {text-align: center;}



	
	.general-profile-container {
		display: flex;
		flex-wrap: wrap; 
		justify-content: space-around; 
		align-items: flex-start; 
		gap: 40px; 
		text-align: center; 
		overflow-x: auto;
	}

	.organizer-profile-container {
		display: flex;
		flex-wrap: wrap; 
		justify-content: space-around; 
		align-items: flex-start; 
		gap: 40px; 
		text-align: center; 
		overflow-x: auto;
	}

	.general-profile {
		max-width: 15px;
		min-width: 150px;
		margin: 0% auto; 
		overflow: hidden;  
		
	}
	.general-profile-caption {
		margin-top: 0.25em;
		font-size: 1em;
	}
	.profile-institution {
		font-size: 0.85em;
		line-height: 1em;

	}

	.profile-picture {
		width: 140px; 
		height: 140px; 
		/* width: 100%; 
		height: 100%;  */
		object-fit: cover;
		border-radius: 8px;
	}

	.organizer-profile-picture {
		width: 140px; 
		height: 140px; 
		/* width: 100%; 
		height: 100%;  */
		object-fit: cover;
		border-radius: 50%;
	}


	
	/* Hide the text when screen is too narrow (or zoomed in) */
	@media (max-width: 400px) {
		.RSS_Logo{
		display: none;
		}

	}


	/* Custom Navbar Styles */
	.navbar-custom {
		background-color: #fff;
		border: none;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		font-weight: 400;
		font-size: 18px;
	}
	
	/* Navbar links and branding */
	.navbar-custom a,
	.navbar-custom .nav-link,
	.navbar-custom .navbar-brand {
		color: #757575;
	}
