body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	position: relative;
	font-weight: 500; /* medium boldness */
}

	.body_index {
		font-size: 100%;
		font-weight: 100;
	}
	.body_style {
		font-size: 100%;
		font-weight: 100;
	}
	.subtitle{
		color: #214780;
		font-family: Arial, Helvetica, sans-serif;
		text-align:left;
		font-weight: 300;
		margin-bottom: 2%;
		margin-top: 2%;
		font-size:160%;
		font-weight: bold;
	}

	strong {
		font-weight: bold;
	}

	
	.content-block{		    
		margin-bottom: 5%;		
	
	}
	.Logo{
		height:40px;
		float:right;
		margin:0;
	
	}
	#Main-Part{
		margin:0;
	}
	#title{
		margin:0;
		background-color:#ffffff43;
	}
	.extra-roles{
		font-size:100%
	
	}
	.sub-skills{
		margin: 0;
	
	}

	.container.custom-container-width {
		max-width: 900px; 
	}

	.time-place{
		text-align: right;
	}
	.circular--squareP{
		width:80%;
		height:80%;
		border-radius:0%;
	}

	.circular--img {
		width: auto;  /* Maintain original width */
		height: auto; /* Maintain original height */
		max-width: 100%; /* Prevent overflow */
		display: block; /* Removes extra spacing */
	}

	
	.navbar-custom {
		background-color: #ffffff;
		border: none;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	.navbar-custom a,
	.navbar-custom .nav-link,
	.navbar-custom .navbar-brand {
		color: #000000 !important; 
	}
	.progress{
		width: 30%;
		float:right;
	}
	.skills{margin:10%;}
	.copyright {text-align: center;}



	
	.speaker-profile-container {
		display: flex;
		flex-wrap: wrap; 
		justify-content: space-around; 
		align-items: flex-start; 
		gap: 40px; 
		text-align: center; 
		overflow-x: auto;
	}

	.speaker-profile {
		max-width: 200px;
		min-width: 200px;
		margin: 0% auto; 
		overflow: hidden;  
		
	}
	.speaker-profile-caption {
		margin-top: 0.25em;
		font-size: 1em;
	}

	.speaker-institution {
		font-size: 0.85em;
		line-height: 1em;

	}
	.speaker-profile-picture {
		width: 160px; 
		height: 160px; 
		/* width: 100%; 
		height: 100%;  */
		object-fit: cover;
		border-radius: 8px;
	}

	.organizer-profile-caption {
		width: 130px; 
		height: 130px; 
		overflow: hidden; 
		border-radius: 50%; 
		margin: 0 auto;
	}